$content-size: 1110px;

$primary: #533fd9;
$primary-dark: #251c63;
$primary-light: #5a43f0;

$secondary: #0AC9B0;
$secondary-dark: #2B918A;

$background-section: #eeffee;

$text-color: #f0f8ff;
$text-color-black: black;

$gray: #CDCDCD